<div ng-class="classColspan">

    <p class="input-group">
        <input type="text" class="form-control"
               uib-datepicker-popup="shortDate"
               ng-model="model"
               datepicker-options="dateOptions"
               ng-required="true"
               close-text="Fechar">

        </input>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p>

</div>